page-about {
    #colmenacoop {
		position: absolute;
		right: 4px;
    	padding: 5px;
	}
	.llamar-btn ion-icon, .mail-btn ion-icon, .facebook-btn ion-icon{
		padding: 0;
		margin: 0;
	}
	.llamar-btn {
		margin-bottom: 15px;
		background: rgba(27, 142, 194, 0.96);
		padding: 10px !important;
	}
	.mail-btn {
		margin-bottom: 15px;
		background: rgba(27, 142, 194, 0.96);
		padding: 10px !important;
	}
	.facebook-btn {
		margin-bottom: 15px;
		background: rgba(27, 142, 194, 0.96);
		padding: 10px !important;
	}
}
