<ion-header>
    <ion-navbar>
        <ion-title>{{ POI.categoria.nombre}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card>
        <!--ion-slides pager effect="flip">
        <ion-slide>
        <img src="assets/images/casino1.jpg">
        </ion-slide>
        <ion-slide>
        <img src="assets/images/casino2.jpg">
        </ion-slide>
        <ion-slide>
        <img src="assets/images/casino3.jpg">
        </ion-slide>
        </ion-slides-->

        <img src="assets/images/no-imagen.gif" alt="">

        <ion-card-content>

            <ion-card-title align="center">
                {{ POI.titulo }}
            </ion-card-title>

            <ion-grid>

                <ion-row>
                    <div ion-col align="center">
                        <span *ngIf="POI.domicilio">
                            {{ POI.domicilio }} - 
                        </span>
                        <span *ngIf="POI.localidad && POI.localidad.nombre">
                            {{ POI.localidad.nombre }} - 
                        </span>
                        <span *ngIf="POI.localidad && POI.localidad.departamento">
                            {{ POI.localidad.departamento }} 
                        </span>
                    </div>
                </ion-row>
                <hr>

                <div *ngIf="POI.telefonos">
                    <ion-row *ngFor="let t of POI.telefonos">
                        <div ion-col col-sm-6 *ngIf="t.tipo != 'Celular'">
                            <button ion-button small class="llamar-btn" (click)="openTel(t.numero)">
                                <ion-icon name="call"></ion-icon>
                            </button>
                            {{ t.numero }}
                        </div>
                        <div ion-col col-sm-6 *ngIf="t.tipo == 'Celular'">
                            <button ion-button small class="llamar-btn" (click)="openTel(t.numero)">
                                <ion-icon name="call"></ion-icon>
                            </button>
                            {{ t.numero }}
                        </div>
                    </ion-row>
                </div>

                <ion-row *ngIf="POI.forma_pago.lenght > 0">
                    <ion-col>
                        <ion-icon name="cash"></ion-icon> Formas de pago: {{ POI.formas_pago }}
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="POI.tarjetas.lenght > 0">
                    <ion-col>
                        <ion-icon name="card"></ion-icon> Tarjetas: {{ POI.tarjetas }}
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="POI.descripcion">
                    <ion-col>
                        <button ion-button full small color="barra" (click)="openModal('detalle', POI)" round>
                            Ver detalle
                        </button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <button ion-button full small color="barra" (click)="goToListServices(POI)" round>
                            Servicios cerca
                        </button>
                    </ion-col>
                </ion-row>

            </ion-grid>

        </ion-card-content>
    </ion-card>
</ion-content>