// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

* {
	font-family: 'Oswald', sans-serif;
}

.toolbar-background-md {
    background-color: color($colors, light, base);
}

.content{
	background-color: color($colors, light, base) !important;
}

ion-content{
	background-position: center;
}

ion-icon{
	margin-right: 10px;
	font-size: 1.7em;
}

.menu-inner .list-md .label-md{
	color: #f05e2a;
}

.content-md{
	background-color: map-get($colors, barra)
}

.item-md{
	background-color: inherit;
}

ion-item span{
	position: fixed;
    margin-top: 5px;
}

.reclamo-popup-group{
    display: flex !important;
}

.reclamo-popup-btn-group {
    text-align: center !important;
}

.gm-style-iw div div div{
    width: auto !important;
}
.reclamo-popup-btn {
    border: 1px solid rgba(25, 27, 17, 0.29) !important;
    margin-right: 5px !important;
    padding: 5px !important;
    cursor: pointer !important;
    color: #FFF !important;
    background: #32b332;
    text-shadow: 1px 1px grey;
}