<ion-header>

    <ion-navbar>
        <ion-title>{{ categoryName }}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
	<div *ngIf="loader" class="loader-div">
		<img src="assets/images/loader.gif">
	</div>
    <ion-list>
    	<ion-item *ngFor="let poi of POIList" (click)="goToPOIDetail(poi)">
    		<ion-thumbnail item-start *ngIf="poi.imagenes; else noImage">
		    	<img [src]="'https://sgtur.catamarca.gob.ar' + poi.imagenes[0]['image']['thumbnail']">
		    </ion-thumbnail>
		    <ng-template #noImage>
		    	<ion-thumbnail item-start>
			     	<img src="assets/images/turismo-catamarca.jpg">
			    </ion-thumbnail>
		    </ng-template>
		    <h2>{{ poi.titulo }}</h2>
		    <p *ngIf="poi.localidad">	
		    	<label *ngIf="poi.localidad.nombre">
		    		{{ poi.localidad.nombre}} - 
		    	</label>
		    	<label *ngIf="poi.localidad.departamento">
		    		{{ poi.localidad.departamento }}
		    	</label>
		    </p>
		    
		    <ion-icon name="arrow-forward" item-end></ion-icon>
	  	</ion-item>
        <!--button ion-item *ngFor="let poi of POIList" (click)="goToPOIDetail(poi)">
            {{ poi.titulo }}
            <ion-icon name="arrow-forward" item-end></ion-icon>
        </button--> 
    </ion-list>
</ion-content>